[Unit]
Description=HelloWorld Service

[Service]
Type=notify
ExecStart=/usr/bin/python /usr/local/bin/helloworld.py

[Install]
WantedBy=multi-user.target
