[Unit]
Description=HelloWorld Service

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/local/bin/helloworld.sh

[Install]
WantedBy=multi-user.target
